@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body,html {
  font-family: 'Noto Sans KR',sans-serif;
  font-size: 14px;
  /* rem의 기준이 되는 font-size설정 */
}
body {
  background-color: white;
  color:rgb(29, 29, 31);
  overflow-x: hidden;
  letter-spacing: -0.05em; 
  /* overflow-x */
}
a {
  text-decoration: none;;
}
p {
  /* line-height : 기준font-size */
  line-height: 1.6;
}
.local-nav {
  padding-bottom: .5rem;
  border-bottom: 1px solid black;
  height: 52px;
}
.global-nav{
  height: 44px;
}
.global-nav-links ,
.local-nav-links {
  height: 100%;
  /* 수직 가운데 정렬 위해 부모 컨테이너이 높이를 다 차지 */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.global-nav-links {
  justify-content: space-between;
}
.local-nav-links .product-name {
  margin-right:auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a {
  font-size: .9rem;
}
.local-nav-item:not(.product-name) {
  margin-left:2rem;
}

.scroll-section {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}
/* main-message */
.main-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  height: 3em;
  margin: 5px 0;
  text-align: center;
  /* background-color: rgb(77, 15, 15); */
}

.main-message p {
  font-weight: bold;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
#scroll-section-2 .main-message {
  font-size: 3.5rem;
}
/* descritption */
.description {
  font-size: 1.2rem;
  color: #888;
  max-width: 1000px;
  margin:0 auto;
}
.description strong {
  font-size: 3rem;
  float: left;
  margin-right: 1.2rem;
  color: rgba(29, 29, 31);
}
.desc-message {
  width: 50%;
}
.desc-message .pin {
  width: 1px;
  height: 100px;
  background-color: rgba(29, 29, 31);
}
/* mid-message */
.mid-message {
  color:#888;
  font-size: 2rem;
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
} 
.mid-message strong {
  color:rgb(29, 29, 31);
}

/* sticky */
.sticky-elem {
  /* text-align: center; */
  margin-right: .2rem;
}
.canvas-caption {
  padding-top: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

footer {
  margin-top: 3rem;
  background-color: yellow;
  padding: 1.5rem 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

@media (min-width:1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .desc-message {
    width:20%;
  }
  .mid-message {
    font-size: 4vw;
  }
  .canvas-caption {
    font-size: 2rem;
  }
  .description {
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
}